* {
  margin: 0px autp;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #0d1117;
  color: #cacaca;
  line-height: 200%;
  margin: 20px;
}

header {
  color: #8257e5;
}

a,
a:hover {
  color: #8257e5;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #5e25e2;
}

hr {
  margin: 0px 0 20px;
  border: #30363d 1px solid;
}

h1 {
  margin: 10px 0 5px;
}

footer img {
  margin: 10px;
}

nav {
  line-height: 110%;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

img{
  height:20px;
  
}

.arrow {
  display: flex;
  align-items: center;
  gap: 10px
}

ul {
  list-style: none;
}