* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-button: hsl(348, 100%, 66%);
  --color-rectangle: hsl(228, 15%, 38%);
  --color-body: hsl(0, 0%, 94%);
  --color-input: hsl(240, 33%, 99%);
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-body);
}

/* RECTANGLE TOP */
body::before {
  content: "";
  width: 100%;
  height: 436px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--color-rectangle);
}
/* RECTANGLE TOP */

.page {
  width: 750px;
  margin: auto;
}

/* HEADER START */
header {
  width: 417px;
  margin-top: 140px;
}

header h1 {
  text-transform: uppercase;
  font-family: "Staatliches", cursive;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #fff;
  margin-bottom: 18px;
}

header p {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
/* HEADER END */

/* FORM START */
form {
  background: #fff;
  min-height: 1084px;
  margin-top: 58px;
  border-radius: 20px 20px 0px 0px;
  padding: 64px;
}

fieldset {
  border: none;
}

fieldset legend {
  font-family: "Staatliches", cursive;
  font-size: 24px;
  line-height: 34px;
  color: var(--color-rectangle);
  border-bottom: 1px solid #e6e6f0;
  width: 100%;
  padding-bottom: 16px;
  margin-bottom: 36px;
}

.name {
  display: flex;
  gap: 22px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-wrapper label {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 24px;
  color: #4e4958;
  margin-bottom: 8px;
}

.input-wrapper input,
select {
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  height: 56px;
  background: var(--color-input);
  margin-bottom: 16px;
  padding: 15px;
  font-family: "Poppins";
  font-size: 16px;
}

.input-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg id='Layer_1' style='enable-background:new 0 0 64 64;' version='1.1' viewBox='0 0 64 64' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23134563;%7D%0A%3C/style%3E%3Cg%3E%3Cg id='Icon-Chevron-Left' transform='translate(237.000000, 335.000000)'%3E%3Cpolyline class='st0' id='Fill-35' points='-218.7,-308.6 -216.7,-310.6 -205,-298.8 -193.3,-310.6 -191.3,-308.6 -205,-294.9 -218.7,-308.6 '/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;
}

.input-wrapper label span {
  font-family: "Poppins";
  font-size: 12px;
  line-height: 20px;
  color: #c1bccc;
  margin-left: 9px;
}

.input-wrapper label span:hover {
  color: var(--color-rectangle);
  cursor: pointer;
}

.fieldset-wrapper {
  margin-top: 30px;
}

.fieldset-wrapper h1 {
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: var(--color-rectangle);
  margin-bottom: 11px;
}

.mentorship {
  display: flex;
  gap: 32px;
}

.time {
  display: flex;
  gap: 10px;
  width: 100%;
}

footer {
  background: var(--color-rectangle);

  height: 160px;

  border-radius: 0px 0px 20px 20px;

  display: flex;
  flex-direction: column;

  padding: 51px 71px;

  margin-bottom: 50px;
}

footer button {
  background-color: var(--color-button);
  color: #fff;
  font-family: "Staatliches";
  font-size: 20px;
  line-height: 26px;
  height: 56px;

  border: none;
  border-radius: 20px;
}

footer button:hover {
  background-color: hsl(348, 62%, 51%);
  color: hsl(348, 94%, 19%)
}
